name: CI CD Branch Based Deploy

on:
  push:
    branches:
      - main
      - development

jobs:
  deploy-prod:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: production

    steps:
    - uses: actions/checkout@v4

    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Image
      run: |
        docker build -f MyApp/Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/myapp:prod .
        docker push ${{ secrets.DOCKER_USERNAME }}/myapp:prod

    - name: Deploy to PROD
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/myapp:prod
          docker stop myapp || true
          docker rm myapp || true
          docker run -d --name myapp -p 8080:8080 ${{ secrets.DOCKER_USERNAME }}/myapp:prod

  deploy-dev:
    if: github.ref == 'refs/heads/development'
    runs-on: ubuntu-latest
    environment: development

    steps:
    - uses: actions/checkout@v4

    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Image
      run: |
        docker build -f MyApp/Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/myapp:dev .
        docker push ${{ secrets.DOCKER_USERNAME }}/myapp:dev

    - name: Deploy to DEV
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/myapp:dev
          docker stop myapp || true
          docker rm myapp || true
          docker run -d --name myapp -p 8080:8080 ${{ secrets.DOCKER_USERNAME }}/myapp:dev
